html {
  font-size: 2vw;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* begin header */
header {
  position: relative;
  min-height: 13em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  box-sizing: border-box;
  text-align: center;
}

header::before {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: "";
  position: absolute;
  opacity: .2;
  background-image: url('../images/header-background.jpg');
  background-size: cover;
}

.header-title {
  width: 100%;
  vertical-align: middle;
  font-size: 2.5em;
  margin: 0;
  align-self: center;
  font-family: 'Times New Roman', serif;
}

.profile-picture {
  position: absolute;
  align-self: flex-start;
  object-fit: contain;
  height: 12vw;
  border-radius: 16vw;
}
/* end header */

/* begin main content */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-size: 1.6em;
  flex-grow: 2;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  padding-left: 2vw;
  padding-right: 2vw;
}

.offerings-text {
  text-align: justify;
}

.technology-list {
  padding: 0;
  list-style: none;
}

.technology-list li {
  display: inline-flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 1em;
  padding: 0.3em;
  margin: 0.2em;
}

.item-java::before {
  display: inline-block;
  content: ' ';
  background-image: url('../images/programming-languages/java-icon.svg');
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}

.item-kotlin::before {
  display: inline-block;
  content: ' ';
  background-image: url('../images/programming-languages/kotlin-icon.svg');
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}

.item-php::before {
  display: inline-block;
  content: ' ';
  background-image: url('../images/programming-languages/php-icon.svg');
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}

.item-csharp::before {
  display: inline-block;
  content: ' ';
  background-image: url('../images/programming-languages/c-sharp-icon.svg');
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}

.item-javascript::before {
  display: inline-block;
  content: ' ';
  background-image: url('../images/programming-languages/javascript-icon.svg');
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}

.item-typescript::before {
  display: inline-block;
  content: ' ';
  background-image: url('../images/programming-languages/typescript-icon.svg');
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}

.item-sql::before {
  display: inline-block;
  content: ' ';
  background-image: url('../images/programming-languages/sql-icon.svg');
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}

.item-html5::before {
  display: inline-block;
  content: ' ';
  background-image: url('../images/programming-languages/html5-icon.svg');
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}

.item-css3::before {
  display: inline-block;
  content: ' ';
  background-image: url('../images/programming-languages/css3-icon.svg');
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}
/* end main content */

/* begin footer */
footer {
  align-self: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: 13vw;
  text-align: center;
  border-top: 1px solid #d3d3d3;
}

.social-contact-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-contact-list li {
  align-items: center;
  justify-items: center;
}

.social-contact-list li a img {
  width: 3em;
}

.impressum {
  font-size: 1.25em;
  line-height: 2.3em;
}
/* end footer */

@media screen and (min-width: 821px) {
  body {
    padding-left: 10%;
    padding-right: 10%;
  }

  main {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 2vh;
  }
}
